.photo-essay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;

  .image-wrapper {
    @include flex-center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      overflow: hidden;

      @supports (object-fit: cover) {
        & {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .photo-controls, .photo-description {
    position: absolute;
    bottom: 0;
  }

  .photo-description {
    width: 50%;
    @include scale('height', 260px, #{(260/1400*100)}vw, #{(260/1400*100)}vw);
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border-top: 40px solid rgba(255, 255, 255, 0.5);
    overflow-y: auto;
    padding-left: #{(115/1400*100)}vw;
    @include scale('padding-top', 40px, #{(40/1400*100)}vw, #{(40/1400*100)}vw);
    @include scale('padding-right', 40px, #{(40/1400*100)}vw, #{(40/1400*100)}vw);
    @include scale('padding-bottom', 40px, #{(40/1400*100)}vw, #{(40/1400*100)}vw);
    @include scale('border-top-width', 40px, #{(40/1400*100)}vw, #{(40/1400*100)}vw);
    @include scale-prop('font-size', 18);

    h3 {
      font-weight: bold;
      @include scale-prop('margin-bottom', 20);
      color: #1e1f20;
    }

    p {
      color: #8F8F8F;
      line-height: 140%;
    }
  }

  .photo-controls {
    $page-display-height: 40;
    display: flex;
    right: 0;
    user-select: none;

    .button {
      flex: 1;
      margin: 0;
      padding: 0;
      border: none;
      cursor: pointer;
      outline: none;
      @include flex-center;
      @include scale-prop('width', 70);
      @include scale-prop('height', 70);

      svg {
        fill: none;
        stroke: white;
        stroke-width: 2px;
      }
    }

    .button:nth-child(1) {
      background-color: rgba(43, 43, 43, 0.7);
    }

    .button:nth-child(2) {
      background-color: rgba(43, 43, 43, 0.8);
    }

    .button:nth-child(3) {
      background-color: rgba(43, 43, 43, 0.9);

    }

    .page-display {
      position: absolute;
      width: 100%;
      left: 0;
      @include scale-prop('height', $page-display-height);
      @include scale-prop('line-height', $page-display-height);
      @include scale-prop('bottom', -$page-display-height);
      @include scale-prop('padding-left', 20);
      color: white;
      background-color: #2B2B2B;
    }
  }

  .fullbrowser-wrapper & {
    .parallax-target {
      height: 100%;
      transform: matrix(1, 0, 0, 1, 0, 0) !important;
      transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      .photo-slider {
        height: 100%;
      }
    }
  }
}