.timeline-hover-card {
  position: absolute;
  text-align: center;
  overflow: hidden;
  cursor: pointer;

  img {
    // position: relative;
    // // left: 50%;
    // top: 50%;
    // transform: translate(0%, -50%);
  }
}