.timeline-hover-card {
  position: absolute;
  pointer-events: none;
  width: 100%;
  transform: translateX(-50%);

  .background {
    position: absolute;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    background-color: rgba(85,85,85,0.8);
    @include scale-prop('padding-left', 18);
    @include scale-prop('padding-right', 18);
    @include scale-prop('padding-top', 10);
    @include scale-prop('padding-bottom', 10);
  }

  .line {
    // position: absolute;
    width: 2px;
    height: 35px;
    background-color: white;
    z-index: 1;
  }

  .cta-text {
    font-weight: bold;
    color: white;
    @include scale-prop('font-size', 16);
    z-index: 1;
  }
}