.timeline {
  $bg-color: #8F8F8F;
  position: relative;
  cursor: pointer;
  background-color: rgba(143,143,143,0.3);

  .timeline-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(143,143,143,0.9);
    list-style: none;
    bottom: 0;
  }

  .timeline-cover {
    $tip-width: 3px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    z-index: 2;

    &:before {
      content: attr(data-time);
      color: white;
      font-size: 12px;
      position: absolute;
      bottom: 50px;
      left: 100%;
      transform: translateX(-50%)
    }

    & > span {
      position: absolute;
      bottom: 0;
      right: -$tip-width/2;
      width: $tip-width;
      height: calc(100% + 8px);
      background-color: rgba(255, 255, 255, 0.8);

      &:hover {
        background-color: #ffffff;
      }
    }
  }

  .hovered-time-stamp {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 2px;
    background-color: white;
    z-index: 100;
    opacity: 0;
    pointer-events: none;

    & > span {
      content: attr(data-time);
      position: absolute;
      top: 0;
      left: 50%;
      color: white;
      font-size: 12px;
      transform: translateX(-50%);
      opacity: 0.6;
    }
  }
}