.narrative-video-player {
  position: relative;
  width: 100%;
  height: 100%;

  .stagger-el {
    position: relative !important;
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .circle-cta {
      position: absolute;
      right: 18%;
      top: calc(50% - 102px);
      transform: translate(50%, -50%);
      width: 215px;
      height: 215px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.15);
      color: white;
      font-weight: bold;
      cursor: pointer;
      opacity: 0;
      z-index: 100;

      .circle-cta-text {
        position: absolute;
        left: 32px;
        top: 40%;
        width: 50%;
        text-align: left;
        color: white;
      }

      label {
        display: block;
        color: rgba(255,255,255,0.5);
        font-size: 14px;
      }

      h3 {
        font-size: 22px;
      }
    }
  }

  .explore-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
  }

  .image-card {
    left: calc(50% - 175px);
  }
}
