.narrative-video-player {
  @include absolute-100;
  top:0;
  left:0;
  overflow: hidden;

  .stagger-el {
    position: relative !important;
  }

  .video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);

    .circle-cta {
      position: absolute;
      right: 18%;
      opacity: 0;
      top: calc(50% - 102px);
      transform: translate(50%, -50%);
      @include scale-prop('width', 195);
      @include scale-prop('height', 195);
      cursor: pointer;
      z-index: 100;

      .circle-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        color: white;
        font-weight: bold;

        .cta-arrow {
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          right: 15%;
          width: 5%;
          transition: all 0.3s ease-out;
        }

        &:before {
          content: '';
          position: absolute;
          width: 12%;
          // height: 1.1%;
          @include scale-prop(height, 2.5);
          background-color: white;
          top: 48.3%;
          right: 13%;
          opacity: 0;
          transform: translateX(-30%);
          transition: all 0.3s ease-out;
        }

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.15);
          transition: all 0.3s ease-out;
        }

        &:hover {
          .cta-arrow {
            right: 12%;
          }

          &:before {
            opacity: 1;
            transform: translateX(0);
          }

          &:after {
            background-color: rgba(255, 255, 255, 0.2);
            width: 110%;
            height: 110%;
            transform: translate(-5%, -5%);
          }
        }
      }

      .circle-cta-text {
        position: absolute;
        left: 10%;
        top: 50%;
        text-align: left;
        color: white;
        transform: translateY(-50%) translateZ(0);
      }

      label {
        display: block;
        color: rgba(255,255,255,0.5);
        @include scale-prop('font-size', 14);
      }

      h3 {
        @include scale-prop('font-size', 22);
      }
    }
  }

  .explore-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
  }

  .end-overlay {
    .end-overlay-ui {
      position: relative;
      top: 41%;
      // @include scale-prop('top', 120);
      transform: translateY(-50%);
    }

    .image-cards {
      position: relative;
      display: flex;
      justify-content: center;
      overflow: hidden;

      & > .image-card {
        @include scale-prop('margin', 20);
      }
    }
  }

  .progress-play-button {
    @include scale-prop('width', 110);
    @include scale-prop('height', 110);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .page-wrapper {
    @include absolute-100;
  }
}
