.narrative-video-player {
  $ease: cubic-bezier(0.14, 0.25, 0.4, 0.99);

  @include absolute-100;
  top:0;
  left:0;
  overflow: hidden;

  .stagger-el {
    position: relative !important;
  }

  .video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);

    .circle-cta {
      position: absolute;
      right: 18%;
      opacity: 0;
      top: calc(55% - 20px);
      transform: translate(50%, -50%);
      @include scale-prop('width', 225);
      @include scale-prop('height', 225);
      cursor: pointer;
      z-index: 100;

      .circle-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        color: white;
        font-weight: bold;

        .cta-arrow {
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          right: 10%;
          width: 5%;
        }

        &:before {
          content: '';
          position: absolute;
          display: none;
          width: 12%;
          @include scale-prop(height, 2);
          background-color: white;
          @include scale-prop(top, 110);
          right: 13%;
          opacity: 1;
          transform: scaleX(0);
          transform-origin: 0 0;
          transition: all 0.3s $ease;
        }

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          background-color: rgba(255, 255, 255, 0.15);
          transition: all 0.3s $ease;
        }

        &:hover {
          .cta-arrow {
            right: 6%;
            transition: all 0.3s $ease;
          }

          &:before {
            opacity: 1;
            transform: scaleX(1.2);
            transform-origin: 100% 0;
            transition: all 0.3s $ease;
          }

          &:after {
            background-color: rgba(255, 255, 255, 0.2);
            width: 110%;
            height: 110%;
            transform: translate(-5%, -5%);
          }
        }
      }

      .circle-cta-text {
        position: absolute;
        left: 10%;
        top: 50%;
        text-align: left;
        color: white;
        transform: translateY(-50%) translateZ(0);

        label {
          display: block;
          color: rgba(255,255,255,0.5);
          @include scale-prop('margin-top', 4);
          @include scale-prop('font-size', 14);
        }

        h3 {
          @include scale-prop('font-size', 22);
        }
      }
    }
  }

  .explore-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
  }

  .progress-play-button {
    @include scale-prop('width', 110);
    @include scale-prop('height', 110);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .page-wrapper {
    @include absolute-100;
  }
}
