.mobile-landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('#{$ASSET_PATH}/images/mobile-landing-background.jpg');
  background-size: cover;

  h3, p {
    color: #8f8f8f;
  }

  h1 {
    font-size: 10.933vw;
    font-weight: bold;
    line-height: 12vw;
    color: white;
    text-transform: capitalize;
    text-align:center;
  }

  h3 {
    font-size: 6vw;
    font-weight: bold;
    margin-top: 65px;
    margin-bottom: 35px;
  }

  p {
    font-size: 4.8vw;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 11.25vh;
    max-width: 75%;
  }

  .main-content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, transparent 0%,
                rgba(10, 10, 10, 0) 30%, rgba(10, 10, 10, 0.75) 93%);
  }

  .cover-bg {
    @include absolute-100;
    opacity: 0.68;
    background-color: #121212;
  }

  .rectangular-button {
    width: 64.667vw;
    height: 14vw;
    margin-bottom: 14px;
    padding: 4.5vw;


    .margin {
      margin-right: 3.5vw;
    }

    .button-text {
      font-size: 4.567vw;
    }

    &.cta-explore {
      .margin {
        margin-right: 23%;
      }
    }
  }
}