.progress-play-button {
  display: inline-block;
  @include scale-prop(width, 145);
  @include scale-prop(height, 145);

  svg {
    fill: #6d7880;
    position: absolute;
  }

  &.round-line-cap {
    svg {
      &:first-of-type {
        //stroke-linecap: round !important;
      }
    }
  }

  .icon-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 5px 5px 110px rgba(0, 0, 0, 0.15), -5px -5px 110px rgba(0, 0, 0, 0.15);

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      @include scale-prop(margin-top, -10);
      @include scale-prop(margin-left, -10);
      @include scale-prop(width, 20);
      @include scale-prop(height, 20);

      &.play {
        @include scale-prop(margin-left, -7);
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .label {
    @include scale-prop(font-size, 25);
    font-weight: bold;
    text-align: center;
    @include scale-prop(margin-top, 15);
    color: #fff;
  }
}
