@import 'reset';
@import 'vars';
@import 'fonts';
@import 'breakpoints';
@import 'helpers';

html, body {
  @include absolute-100;
  margin: 0;
  overflow: hidden;
  font-family: "akkurat", sans-serif;
  -webkit-font-smoothing: antialiased;

  &.safari {
    * {
      perspective: none !important;
    }
  }
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

a {
  text-decoration: none;
  outline: none;
}

svg {
  fill: #fff;
}

.gpu {
  @include gpu;
}
