// usage example:
// @include scale('margin-top', 50px, 50*(100vw/1400), 70px);

@mixin scale($prop, $lte-1400, $gt-1400, $gte-1920) {
  @media (max-width: $break-large) {
    #{$prop}: $lte-1400;
  }
  @media (min-width: $break-large + 1) {
    #{$prop}: $gt-1400;
  }
  @media (min-width: $break-xlarge + 1) {
    #{$prop}: $gte-1920;
  }
}

// usage example:
// @include scale-prop(font-size, 20);

@mixin scale-prop($prop, $size) {
  @media (max-width: $break-large) {
    #{$prop}: $size*1px;
  }
  @media (min-width: $break-large + 1) {
    #{$prop}: $size*(100/$large-size)*1vw;
  }
  @media (min-width: $break-xlarge + 1) {
    #{$prop}: $size*($xlarge-size/$large-size)*1px;
  }
}

// usage example:
// @include scale-calc-deduct(width, '100%', 70);

@mixin scale-calc-deduct($prop, $baseVal, $size) {
  @media (max-width: $break-large) {
    #{$prop}: calc(#{$baseVal} - #{$size} * 1px);
  }
  @media (min-width: $break-large + 1) {
    #{$prop}: calc(#{$baseVal} - #{$size*(100/$large-size)} * 1vw);
  }
  @media (min-width: $break-xlarge + 1) {
    #{$prop}: calc(#{$baseVal} - #{$size*($xlarge-size/$large-size)} * 1px);
  }
}

@mixin scale-calc-add($prop, $baseVal, $size) {
  @media (max-width: $break-large) {
    #{$prop}: calc(#{$baseVal} + #{$size} * 1px);
  }
  @media (min-width: $break-large + 1) {
    #{$prop}: calc(#{$baseVal} + #{$size*(100/$large-size)} * 1vw);
  }
  @media (min-width: $break-xlarge + 1) {
    #{$prop}: calc(#{$baseVal} + #{$size*($xlarge-size/$large-size)} * 1px);
  }
}

.margin-auto-vertical {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-auto-horizontal {
  margin-left: auto;
  margin-right: auto;
}

.margin-auto {
  @extend .margin-auto-horizontal;
  @extend .margin-auto-vertical;
}

.is-relative {
  position: relative;
}

.pin-non-first-children {
  *:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@mixin gpu {
  backface-visibility: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;
}

@mixin autoAlpha-0 {
  opacity: 0;
  visibility: hidden;
}

@mixin autoAlpha-1 {
  opacity: 1;
  visibility: visible;
}

@mixin absolute-100 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
