@import "../grid";

.grid.layout-1060 {

  .width-1 {
    width: calc(100% / 6 - 15px);
  }

  .width-2 {
    width: calc(100% / 3 + 5px);
  }
  .width-2-less-15 {
    width: calc(100% / 3 - 10px);
  }

  .width-3 {
    width: calc(50% - 10px);
  }

}
