.photo-slider {
  height: 80vh;
  transform: translateZ(0);
  $slider-duration: 0.5s;

  .slide-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;

    &.is-current {
      z-index: 1;
    }

    &.is-current, &.is-previous, &.is-next {
      display: block;
    }

    .image-wrapper {
      width: 100vw;
      height: 100%;
      @include flex-center;
      img {
        overflow: hidden;
        @supports (object-fit: cover) {
          & {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}