.article {
  width: 100%;
  color: #8F8F8F;

  img {
    width: 100%;
  }

  .article-content-wrapper {
    display: flex;
    @include scale('margin-top', 40px, #{(40/1400*100)}vw, #{(40/1400*100)}vw);
  }

  .article-title {
    flex: 0.33;

    h1 {
      width: 90%;
    }
  }

  .article-content {
    flex: 0.66;

    img {
      @include scale-prop('margin-top', 20);
      @include scale-prop('margin-bottom', 20);
      width: 100%;
    }

    h1 {
      @include scale-prop('font-size', 30);
      line-height: 120%;
      font-weight: bold;
      color: black;
    }

    h4 {
      @include scale-prop('font-size', 18);
      @include scale-prop('margin-top', 20);
      @include scale-prop('margin-bottom', 5);
      font-weight: bold;
      color: #777;
    }
    

    ul {
      display: table;
      border-collapse: collapse;
      li {
        display: table-row;
        border-bottom-color: transparent;
        border-bottom-style: solid;
        @include scale-prop('border-bottom-width', 30);

        &:before {
          content: '•';
          color: #777;
          display: table-cell; 
          text-align: right;
          @include scale-prop('padding-right', 30);
          @include scale-prop('font-size', 25);
        }
      }
    }

    table {
      width: 100%;
      @include scale-prop('font-size', 16);

      th, td {
        @include scale-prop('padding', 10);
        border: 1px solid black;
        vertical-align: middle;
        text-align: center;
      }

      th {
        background-color: #f99100;
        color: white;
        font-weight: bold;
      }
    }
  }

  .text-wrapper {
    overflow: hidden;
  }

  .article-text {
    @include scale-prop('font-size', 18);
    line-height: 140%;
  }

  .pill-button {
    @include scale('margin-top', 40px, #{(40/1400*100)}vw, #{(40/1400*100)}vw);
    @include scale-prop(width, 155);
  }
}

