@import "../panorama/panorama";

.panorama-wrapper {
  position: relative;
  width: 100%;
  height: 700px;
  //opacity: 0;
  //visibility: hidden;
  //
  //&.loaded {
  //  opacity: 1;
  //  visibility: visible;
  //}

  .queue-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 140px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    .switch {
      display: inline-block;
      float: left;
      width: 50%;
      height: 100%;
      cursor: pointer;
      text-align: center;
      font-size: 30px;
      color: #fff;
      padding: 20px;

      &.next {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }
}

