$parallaxLimitX: 70px;
$parallaxLimitY: 70px;

.grid-tile {
  width: 100%;
  height: 100%;
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  overflow: hidden;
  position: relative;
  backface-visibility: hidden;
  perspective: 1000px;
  transform: translateZ(0px);

  .filler {
    backface-visibility: hidden;
    perspective: 1000px;
    transform: translateZ(0px);
  }

  .parallax-layer {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .overlay {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;

    .slide {
      position: relative;
      display: inline-block;
      width: 50%;
      height: 100%;
      background-color: #fff;
      opacity: 0.15;
    }

    .cta-container {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      font-size: 25px;

      &.right {
        left: 50%;
      }

      .cta {
        display: inline-block;
        position: relative;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  .noise {
    position: absolute;
    width: calc(100% + #{$parallaxLimitX*2});
    height: calc(100% + #{$parallaxLimitY*2});
    left: -$parallaxLimitX;
    top: -$parallaxLimitY;
  }

  .text-container {
    position: relative;
    top: 30px;
    left: 30px;
    max-width: 200px;
    transition: opacity 0.6s;

    .title {
      opacity: 0.5;
      font-size: 20px;
    }

    .subtitle {
      font-size: 35px;
    }
  }

  .image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    bottom: -40px;
    left: 25%;

    img {
      width: 90%;
    }

    &.portrait {
      height: 90%;
      left: 0;

      img {
        width: auto;
        height: 100%;
      }
    }
  }
}
