@import "../index";

.grid.layout-1230 {

  .width-11 {
    width: calc(100% / 3);
  }
  .width-1 {
    width: calc(100% / 7 - 17px);
  }

  .width-2 {
    width: calc(100% * 2 / 7 - 14px);
  }

  .width-3 {
    width: calc(100% * 3 / 7 + 9px);
  }

}
