.mobile-chapters {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(8.945vh);
    background-color: white;
    z-index: 10;
  }

  .content-wrapper {
    width: 100vw;
    height: 100%;
    padding-top: calc(8.945vh);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .chapter-wrapper {
    position: relative;
    width: 100%;

    .chapter-content {
      position: relative;
      height: 36.234vh;

      label, h1, .panel-label {
        font-weight: bold;
      }

      label {
        font-size: 4.667vw;
        color: rgba(255,255,255,0.5);
      }

      h1 {
        font-size: 9.333vw;
        color: #FFFFFF;
        max-width: 60%;
      }

      & > img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 1;
      }
    }

    .chapter-text {
      position: absolute;
      top: 45%;
      left: 5.333vw;
      transform: translateY(-50%);
    }

    .panel-label {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      font-size: 4vw;
      color: white;
      z-index: 5;
      padding: 0 5.334vw;


      svg, span {
        vertical-align: middle;
      }

      .toggle-icon {
        width: 8.3vw;

        &.open {
          svg {
            transform: rotate(180deg);
            transition: transform 0.35s ease;
          }
        }

        svg {
          width: 100%;
          height: 100%;
          transition: transform 0.35s ease;
          @include gpu;
        }
      }

      span {
        margin-left: 4.254vw;
        margin-top: 1.14vw;
        top: 37%;
        left: 18%;
      }
    }

    &:nth-child(1) {
      background-color: #565D60;

      img {
        right: -12%;
      }

      .panel-label {
        background-color: rgba(63,69,72,0.5);
      }
    }

    &:nth-child(2) {
      background-color: #997949;

      img {
        right: -10%;
      }

      .panel-label {
        background-color: rgba(134,102,56,0.5);
      }
    }

    &:nth-child(3) {
      background-color: #6C91AC;

      img {
        right: -10%;
      }

      .panel-label {
        background-color: rgba(72,115,150,0.5);
      }
    }

    &:nth-child(4) {
      background-color: #565D60;

      img {
        right: -10%;
      }

      .panel-label {
        background-color: rgba(63,69,72,0.5);
      }
    }

    &:nth-child(5) {
      background-color: #17202F;

      img {
        right: 1%;
      }

      .panel-label {
        background-color: rgba(12,18,32,0.5);
      }
    }

    &:nth-child(6) {
      background-color: #883429;

      img {
        right: -4%;
      }

      .panel-label {
        background-color: rgba(12,19,31,0.5);
      }
    }

    &:nth-child(7) {
      background-color: #565D60;

      img {
        right: -6%;
      }

      .panel-label {
        background-color: rgba(63,69,72,0.5);
      }
    }


    &:nth-child(8) {
      background-color: #6C91AC;

      img {
        right: -15%;
      }

      .panel-label {
        background-color: rgba(72,115,150,0.5);
      }
    }

    &:nth-child(9) {
      background-color: #17202F;

      img {
        right: -3%;
      }

      .panel-label {
        background-color: rgba(12,18,32,0.5);
      }
    }
  }
}
