.instructional-video-player {
  $control-ui-height: 80px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  video {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    @media (min-aspect-ratio: 16/9) {
      & {
        height: 300%;
        top: -100%;
      }
    }

    @media (max-aspect-ratio: 16/9) {
      & {
        width: 300%;
        left: -100%;
      }
    }

    @supports (object-fit: cover) {
      & {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .controls {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: bottom;
    width: 100%;
    height: $control-ui-height;
    background-color: rgba(143, 143, 143, 0.5);
    align-items: flex-end;
    justify-content: center;
    z-index: 10;
  }

  .control-group, .timeline {
    height: $control-ui-height/2;
  }

  .control-group {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 140px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #8F8F8F;

    .button {
      flex: 1;
      margin: 10px;
      fill: white;
      cursor: pointer;
    }

    .fullbrowser-button {
      svg {
        width: 20px;
        height: auto;
        fill: none;
        stroke: white;
        stroke-width: 2px;
        cursor: pointer;
      }
    }
  }

  .timeline {
    flex: 1;
  }

  .end-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;

    .replay-button {
      border: 1px dashed red;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}
