.instructional-video-player {
  $control-ui-height: 80px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #2B2A2A;

  .more-about-cta {
    position: absolute;
    @include scale-prop('bottom', 65);
    @include scale-prop('right', 20);
    z-index: 100;
    @include autoAlpha-0;
  }

  .close-button {
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 100;
  }

  .image-card {
    left: calc(50% - 370px);
  }

  &.init {
    background-color: transparent;

    .chapter-video-poster {
      display: block;
    }

    .video-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: default !important;
      z-index: -1;
    }

    .simple-progress-bar, .controls {
      display: none !important;
    }
  }

  .progress-play-button {
    @include scale-prop('width', 110);
    @include scale-prop('height', 110);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.grid-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

.chapter-video-poster {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
    height: calc(100% + 50px);
    width: 100%;
    display: block;
  }

  .progress-play-button {
    @include scale-prop('width', 110);
    @include scale-prop('height', 110);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.chapter-player {
  video {

    @media (orientation: landscape)  {
      // This is to to prevent BgCover moving video
      top: 0 !important;
    }
  }
}
