.mobile-learn-more {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: calc(8.945vh);
  background: url('#{$ASSET_PATH}/images/mobile-learn-more-bg.jpg') no-repeat center;
  color: white;
  height: 100%;

  .top-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(8.945vh);
    background-color: #606060;
    z-index: 10;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      height: 2.75vh;
      width: 100%;
      background-color: rgba(255,255,255,0.2);
    }
  }

  main {
    width: 100%;
    padding: 0 5.334vw;
    height: 100%;
    overflow-y: scroll;
  }

  h1 {
    padding-top: 8.333vh;
    font-size: 7.334vw;
    font-weight: bold;
  }

  p {
    margin: 4.667vh 0;
    opacity: 0.5;
    line-height: 3.122vh;
  }
}