.grid-page {
  @include absolute-100;
  background-color: #000;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 200;

  .page-wrapper {
    background-color: #000;
    @include absolute-100;
    //height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .grid {
    width: calc(100% - 60px);
    margin: 30px;
    @include scale-prop(padding-top, 90);
  }
}
