$grid-red: #9c291d;
$grid-gray: #515d62;
$grid-orange: #a07434;
$grid-light-blue: #4f91b1;
$grid-dark-blue: #131f2f;

$grid-item-offset: 20px;

.grid.grid-1 {
  width: 100%;
  background-color: #00d6b2;

  .grid-item {
    //box-sizing: border-box;
    //border: 1px solid #000;
    margin-top: $grid-item-offset;

    &.no-margin {
      margin-top: 0;
    }
  }

  // ------- sizes
  .width-1 {
    width: 20%;
  }
  .width-2 {
    width: 40%;
  }
  .width-2 {
    width: 40%;
  }
  .width-3 {
    width: 60%;
  }
  .width-full {
    width: 100%;
  }

  .height-1 {
    height: 150px;
  }
  .height-2 {
    height: 320px;
  }
  .height-3 {
    height: 490px;
  }
  .height-full {
    height: 100%;
  }

  // ------- offsets
  .top-padding {
    padding-top: $grid-item-offset;
  }
  .right-padding {
    padding-right: $grid-item-offset;
  }
  .bottom-padding {
    padding-bottom: $grid-item-offset;
  }
  .left-padding {
    padding-left: $grid-item-offset;
  }

  .top-margin {
    margin-top: $grid-item-offset;
  }
  .right-margin {
    margin-right: $grid-item-offset;
  }
  .bottom-margin {
    margin-bottom: $grid-item-offset;
  }
  .left-margin {
    margin-left: $grid-item-offset;
  }

  // ------- colors
  .red {
    background-color: $grid-red;
  }
  .gray {
    background-color: $grid-gray;
  }
  .orange {
    background-color: $grid-orange;
  }
  .light-blue {
    background-color: $grid-light-blue;
  }
  .dark-blue {
    background-color: $grid-dark-blue;
  }
}

