.video-card {
  @include scale-prop('width', 350);
  @include scale-prop('height', 440);
  overflow: hidden;
  cursor: pointer;
  left: 50%;
  top: calc(50% - 280px);

  .next-video-button {
    position: absolute;
    @include scale-prop('top', 50);
    left: 0;
    right: 0;
    margin: auto;
    @include scale-prop('width', 28);
    @include scale-prop('height', 28);
    @include scale-prop('font-size', 16);
    color: #8F8F8F;
    @include scale-prop('line-height', 30);
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    background-color: #2B2B2B;
  }

  video {
    pointer-events: none;
  }

  label {
    position: absolute;
    @include scale-prop('top', 90);
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    color: #8C8C8C;
    @include scale-prop('font-size', 16);
    font-weight: bold;
  }

  h2 {
    position: absolute;
    @include scale-prop('top', 110);
    width: 100%;
    max-width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: 600;
    @include scale-prop('font-size', 38);
    text-align: center;
  }

  .spinner-button {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    @include scale-prop(width, 110);
    @include scale-prop(height, 110);

    .progress-play-button {
      width: 100%;
      height: 100%;
    }

    svg {
      width: 20px;
      fill: #8F8F8F;
    }
  }

  .counter-text {
    position: absolute;
    @include scale-prop('bottom', 45);
    text-align: center;
    width: 100%;
    color: rgba(255,255,255,0.6);
    font-weight: bold;
    @include scale-prop('font-size', 15);
    text-align: center;
  }
}
