.pill-button {
  display: inline-flex;
  font-weight: bold;
  color: #ADAFAF;
  background-color: #2B2B2B;
  align-items: center;
  @include scale-prop(padding, 11);
  @include scale-prop(font-size, 14);
  @include scale-prop(border-radius, 24);
  @include scale-prop(margin-top, 10);
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  @include gpu;

  &:focus {
    outline: 0;
  }

  * {
    @include gpu;
  }

  .pill-button-text {
    @include scale-prop(margin-right, 8);
  }

  .plus-circle {
    @include flex-center;
    position: relative;
    @include scale-prop(width, 28);
    @include scale-prop(height, 28);
    @include scale-prop(margin-right, 25);
    border-radius: 50%;
    background-color: #555555;

    span {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      @include scale-prop(margin-top, -1);
      @include scale-prop(margin-left, -5);
      @include scale-prop(width, 10);
      @include scale-prop(height, 2);
      background-color: #8F8F8F;
    }
  }

  &:hover {
    .pill-button-text {
    }
  }
}
