.learn-more-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //@include scale-calc-deduct(height, '100%', 50);
  height: 100%;
  background-color: #111;
  @include scale-prop('padding-top', 80);
  @include scale-prop('padding-bottom', 80);
  color: white;
  box-shadow: inset 0px 0px 100px 60px rgba(0, 0, 0, 0.6);
  z-index: 999999;

  img.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.13;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .modal-content {
    width: 100%;
    height: 100%;

    h1 {
      @include scale-prop('font-size', 40);
      font-weight: bold;
      @include scale-prop('margin-bottom', 55);
      @include scale-prop('padding-left', 80);
    }

    p {
      @include scale-prop('font-size', 18);
      line-height: 140%;
      color: #8F8F8F;
      @include scale-prop('margin-bottom', 35);
      @include scale-prop('padding-left', 80);
      padding-right: 50%;
    }

    .text-wrapper {
      width: 110%;
      @include scale-calc-deduct(height, '100%', 80);
      overflow-y: scroll;
    }
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    @include scale-prop('width', 150);
    @include scale-prop('height', 40);
    margin: 0;
    padding: 0;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
