.panorama {
  position: relative;
  width: 100%;
  height: 700px;

  &:focus {
    outline: none;
  }

  .pnlm-render-container {
    width: 100%;
    height: 100%;
  }

  .pnlm-about-msg, .pnlm-panorama-info, .pnlm-controls {
    display: none;
  }

  .pnlm-compass {
    width: 50px;
    height: 50px;
    right: 70px;
    bottom: 30px;
    border-radius: 25px;
    background-image: url('data:image/svg+xml,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20height%3D"50"%20width%3D"50">%0A<path%20d%3D"m24.5078%206-3.2578%2018h7.5l-3.25781-18h-0.984376zm-3.2578%2020%203.2578%2018h0.9844l3.2578-18h-7.5zm1.19531%200.9941h5.10938l-2.5547%2014.1075-2.5547-14.1075z"%2F>%0A<%2Fsvg>%0A');
    cursor: default;
  }

  $controlsWidth: 560px;
  .panorama-controls {
    position: absolute;
    left: 50%;
    margin-left: -$controlsWidth/2;
    bottom: 0;
    width: $controlsWidth;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;

    .zoom-controls {
      display: inline-block;
      position: relative;
      margin-right: 10px;
      width: 470px;
      height: 100%;

      .zoom {
        position: absolute;
        background-color: #000;
        width: 50px;
        height: 50px;
        cursor: pointer;

        &.zoom-in {
          right: 0;
        }
      }

      .slider {
        position: relative;
        margin: auto;
        width: 300px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);

        .indicator {
          position: absolute;
          top: 50%;
          margin-top: -15px;
          background-color: #00d6b2;
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
    }

    .fs-controls {
      display: inline-block;
      padding-left: 10px;

      .fs-button {
        background-color: #fff;
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
    }
  }
}

