.panorama {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  background: url('#{$ASSET_PATH}/images/noise-grey.png') repeat;
  @include gpu;

  * {
    @include gpu;
  }

  &.loading {
    .psv-container {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.accelerometer-on {
    .psv-container {
      pointer-events: none;
    }
  }

  canvas {
    @include gpu;
  }

  .psv-container, .psv-canvas-container {
    height: 100%;
    //transition: opacity 0.3s;
  }

  .psv-container, .psv-canvas-container, .psv-hud {
    @include absolute-100;
    //cursor: none !important;
  }

  .accelerometer {
    @include flex-center;
    position: absolute;
    background-color: #999;
    z-index: 1000;

    .accelerometer-icon {
      width: 50%;
      height: 50%;

      svg {
        fill: #fff;
      }
    }

    &.accelerometer-on {
      background-color: #fff;

      .accelerometer-icon {

        svg {
          fill: #999;
        }
      }
    }
  }

  .panorama-placeholder-container {
    @include absolute-100;
    position: absolute !important;

    canvas {
      width: 100%;
      height: 100%;
    }
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    @include scale-prop('width', 150);
    @include scale-prop('height', 40);
    z-index: 1000;
    @include autoAlpha-0;
  }

  .psv-inject-target, .psv-inject-target-wrapper {
    height: 100%;
  }

  .touch-overlay {
    @include absolute-100;
    background-color: rgba(0, 0, 0, 0.3);
    @include flex-center;
    color: #fff;
    @include scale-prop('font-size', 30);

    .cta-container {
      text-align: center;
      @include scale-prop('width', 100);

      .overlay-icon {
        position: relative;
        margin: auto;
        @include scale-prop('width', 80);
        @include scale-prop('height', 80);
        @include scale-prop('margin-bottom', 20);
      }
    }
  }

  &.is-tablet, &.is-phone {
    .panorama-controls {
      display: none;
    }
  }

  &.is-tablet {

    .accelerometer {
      @include scale-prop('left', 30);
      @include scale-prop('bottom', 30);
      @include scale-prop('width', 60);
      @include scale-prop('height', 60);
    }
  }

  &.is-phone {

    .accelerometer {
      @include scale-prop('left', 20);
      @include scale-prop('bottom', 20);
      @include scale-prop('width', 50);
      @include scale-prop('height', 50);
    }
  }
}
