.grid-cell {
  width: 100%;
  height: 100%;
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  .text-container {
    position: relative;
    top: 30px;
    left: 30px;
    max-width: 200px;

    .title {
      opacity: 0.5;
      font-size: 20px;
    }

    .subtitle {
      font-size: 35px;
    }
  }

  .image-wrapper {
    position: relative;
    width: 90%;
    display: inline-block;
    top: 30px;
    left: 25%;

    img {
      width: 100%;
    }
  }
}
