@import 'chapter-columns';

$parallax-amplitude: 50px;

.chapter-page {
  height: 100%;
  overflow-y: auto;
  background-color: #747981;

  .component-title {
    @extend .col-4;
    @extend .margin-auto-horizontal;
    @include scale('font-size', 50px, #{(50/1400*100)}vw, 70px);
    @include scale('margin-bottom', 40px, 40px, #{(400/1400*100)}vw);
    color: #6E767E;
  }

  .page-component {
    position: relative;
    font-size: 1.285714285714vw;
    & + .page-component {
      @include scale('margin-top', 100px, 100px, #{(100/1400*100)}vw);
    }
  }

  .main {
    position: relative;
    @include scale('margin-top', 50px, #{(50/1400 * 100)}vw, 70px);
    @include scale('margin-left', 50px, #{(50/1400 * 100)}vw, 70px);
    background-color: white;

    @media (max-width: $break-large) {
      width: calc(100% - 50px);
    }
    @media (min-width: $break-large + 1) {
      width: calc(100% - #{(50/1400 * 100)}vw);
    }
    @media (min-width: $break-xlarge + 1) {
      width: calc(100% - 70px);
    }
  }

  .nav {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: rgba(#747981, 0.7);
    display: flex;
    justify-content: space-between;

    .nav-button {

    }
  }

  .chapter-header {
    overflow: hidden;
    background-color: #fff;

    @media (max-width: $break-large) {
      height: calc(100vh - 50px);
    }
    @media (min-width: $break-large + 1) {
      height: calc(100vh - #{(50/1400 * 100)}vw);
    }
    @media (min-width: $break-xlarge + 1) {
      height: calc(100vh - 70px);
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .hero-content {
      position: absolute;
      @include scale-prop(left, 100);
      @include scale-prop(bottom, 100);
      @include scale-prop(max-width, 430);
      font-weight: bold;
      color: #fff;

      .hero-cta {
        @include scale-prop(font-size, 24);
      }

      .hero-title {
        @include scale-prop(font-size, 70);
        @include scale-prop(margin-top, 10);
        text-transform: capitalize;
      }

      .hero-description {
        font-weight: normal;
        @include scale-prop(font-size, 25);
        @include scale-prop(margin-top, 10);
        opacity: 0.5;
      }

      .hero-button {
        @include scale-prop(height, 60);
        display: inline-block;
        @include scale-prop(margin-top, 30);
        cursor: pointer;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0);

        .thumb {
          @include scale-prop(width, 60);
          height: 100%;
          background-size: contain;
          display: inline-block;
          float: left;
          opacity: 1;
          transition: opacity 0.4s;
          background-color: rgba(0, 0, 0, 1);
        }

        .button {
          @include scale-prop(width, 190);
          height: 100%;
          @include flex-center;
          color: #f99100;
          @include scale-prop(font-size, 17);
          float: left;
          background-color: #fff;
          transition: background-color 0.4s, color 0.4s;

          .icon {
            @include scale-prop(width, 16);
            @include scale-prop(height, 16);
            @include scale-prop(margin-right, 20);
          }

          svg {
            fill: #f99100;
            width: 100%;
            height: 100%;
            transition: fill 0.3s;
          }
        }

        &:hover {

          .thumb {
            opacity: 0.65;
          }

          .button {
            color: #fff;
            background-color: rgba(0, 0, 0, 0.45);
          }

          svg {
            fill: #fff;
          }
        }
      }
    }
  }

  .panorama-container {
    height: 80vh;
    .parallax-target-wrapper {
      height: 100%;
      overflow: hidden;
    }
    .parallax-target {
      height: calc(100% + #{$parallax-amplitude * 2});
      margin-top: - $parallax-amplitude;
      margin-bottom: - $parallax-amplitude;
      position: relative;
    }
  }

  .podcast {
    @include scale-prop(height, 480);
    .text-container {
      margin-top: - $parallax-amplitude * 2;
    }
  }
}

.photo-essay {
  overflow: hidden;

  .image-wrapper {
    margin-top: - $parallax-amplitude;
    margin-bottom: - $parallax-amplitude;
    //transition: margin-top 0.3s, margin-bottom 0.3s;
    .fullbrowser-wrapper & {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
