.chapter-page {
  height: 100%;
  overflow-y: auto;
  background-color: #826636;

  .page-component {
    position: relative;
    font-size: 1.285714285714vw;
  }

  .main {
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
    @media (min-width: $break-large) {
      margin-top: (50/1400)px;
      margin-left: (50/1400)px;
    }
    @media (min-width: $break-xlarge) {
      margin-top: 70px;
      margin-left: 70px;
    }
    width: calc(100% - 50px);

    background-color: white;
  }

  .nav {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: rgba(#826636, 0.7);

    display: flex;
    justify-content: space-between;

    .nav-button {
      display: flex;
      background-color: #41474A;
      height: 50px;
      align-items: center;
      color: #A5A8A8;
    }
  }

  .chapter-header {
    overflow: hidden;
    height: calc(100vh - 50px);
    background-color: #E2D3AC;
  }
}
