.video-player {
  $control-ui-height: 37px;
  position: relative;
  display: inline-block;

  video {
    width: 100%;
  }

  .controls {
    position: absolute;
    display: flex;
    align-items: bottom;
    width: 100%;
    bottom: 0;
    height: 74px;
    background-color: rgba(143,143,143,0.5);
    align-items: flex-end;
    justify-content: center;
  }

  .buttons, .timeline {

    height: $control-ui-height;
  }

  .buttons {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 140px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #8F8F8F;

    .button {
      flex: 1;
      margin: 10px;
      fill: white;
      cursor: pointer;
    }
  }

  .timeline {
    flex: 1;
  }
}