$width: 560;

.panorama-menu {
  position: absolute;
  top: 0;
  left: 50%;
  @include scale-prop(margin-left, -$width/2);
  @include scale-prop(width, $width);
  @include scale-prop(height, 120);
  z-index: 1000;
  font-weight: bold;
  @include scale-prop(font-size, 17);
  overflow: hidden;
  @include gpu;

  &:focus {
    outline: none;
  }

  * {
    @include gpu;
  }

  .heading {
    position: relative;
    @include flex-center;
    @include scale-prop(height, 50);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(43, 43, 43, 1);
    z-index: 2000;
    @include scale-prop(font-size, 14);
  }

  .items-container {
    @include scale-prop(height, 70);
    background-color: rgba(43, 43, 43, 0.85);

    .item {
      @include flex-center;
      width: calc(100% / 4);
      height: 100%;
      cursor: pointer;
      transition: color 0.3s;
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
      float: left;

      span {
        max-width: 60%;
        pointer-events: none;
      }

      &:nth-child(2) {
        border-left: 1px solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
      }

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }

      &:active {
        transition: color 0.1s;
        color: #2b2b2b;
      }

      &.selected {
        color: rgba(255, 255, 255, 1);
        cursor: default;
      }
    }
  }

}

