$width: 560px;

.panorama-menu {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -$width/2;
  width: $width;
  height: 70Px;
  z-index: 1000;
  background-color: rgba(43, 43, 43, 0.85);
  font-weight: bold;
  font-size: 17px;

  .item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: 100%;
    cursor: pointer;
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.8);

    &:nth-child(2) {
      border: 1px solid rgba(255, 255, 255, 0.05);
    }

    &:hover {
      color: rgba(255, 255, 255, 1);
    }

    &:active {
      color: #2b2b2b;
    }

    &.selected {
      color: rgba(255, 255, 255, 0.05);
    }
  }

}

