.timeline-hover-card {
  position: absolute;
  text-align: center;
  overflow: hidden;
  height: 0;
  cursor: pointer;

  img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}