.video-player {
  $control-ui-height: 80px;
  $component-bg-color: #2B2A2A;

  background-color: $component-bg-color;

  video {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    @media (min-aspect-ratio: 16/9) {
      & {
        height: 300%;
        top: -100%;
      }
    }

    @media (max-aspect-ratio: 16/9) {
      & {
        width: 300%;
        left: -100%;
      }
    }

    @supports (object-fit: cover) {
      & {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .label-duration {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 14px;
    right: 10px;
  }

  .simple-progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: $component-bg-color;

    & > span {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #8F8F8F;
      transition: width 0.1s ease-out;
    }
  }

  .controls {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: bottom;
    width: 100%;
    height: $control-ui-height;
    background-color: rgba(143, 143, 143, 0.5);
    align-items: flex-end;
    justify-content: center;
    z-index: 10;
  }

  .control-group, .timeline {
    height: $control-ui-height/2;
  }

  .control-group {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 140px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #8F8F8F;

    .button {
      flex: 1;
      margin: 10px;
      fill: white;
      cursor: pointer;

      svg {
        width: 20px;
      }
    }
  }

  .timeline {
    flex: 1;
  }

  .end-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    .replay-group {
      $group-width: 90px;
      $group-height: 115px;
      width: $group-width;
      height: $group-height;
      position: absolute;
      top: calc(85% - #{$group-height * 0.5});
      left: calc(50% - #{$group-width * 0.5});
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }

    .replay-button {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(143,143,143,0.3);
      cursor: pointer;

      svg {
        flex: 1;
        max-width: 50%;
      }
    }

    .replay-label {
      position:block;
      font-weight: bold;
      font-size: 24px;
      color: #8F8F8F;
    }

    .replay-group-chapter {
      $group-width: 35%;
      $group-height: 30%;
      position: absolute;
      width: $group-width;
      min-width: 220px;
      height: $group-height;
      top: calc(50% - #{$group-height * 0.5});
      left: calc(50% - #{$group-width * 0.5});

      .replay-button {
        position: relative;
        width: 30%;
        height: 0;
        padding: 15% 0;
        background-color: #F2F2F2;
        box-shadow: 0px 0px 12px 12px rgba(0,0,0,0.15);

        svg {
          flex: 1;
          max-width: 30%;
        }

        &:after {
          content: '';
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 140%;
          height: 140%;
          background-color: #FFFFFF;
          opacity: 0.05;
          border-radius: 50%;
        }
      }

      .replay-label {
        font-size: 28px;
        color: #F2F2F2;
      }
    }

    .replay-group-grid {
      $group-width: 80px;
      $group-height: 95px;
      position: absolute;
      width: $group-width;
      height: $group-height;
      top: calc(80% - #{$group-height * 0.5});
      left: calc(50% - #{$group-width * 0.5});

      .replay-button {
        width: 55px;
        height: 55px;
      }
    }
  }
}