$orange: #f99100;

.landing-page {
  @include absolute-100;
  font-weight: bold;
  text-align: center;
  background-color: rgba(23, 23, 23, 1);
  user-select: none;
  overflow: hidden;
  @include gpu;
  z-index: 99999;

  * {
    @include gpu;
  }

  .main-container {
    @include absolute-100;
    @include flex-center;
  }

  .video-container {
    @include absolute-100;

    video {
      position: absolute;
      opacity: 0.3;
    }

    .gradient {
      @include absolute-100;
      background: radial-gradient(ellipse at center, transparent 0%, rgba(30, 30, 40, 0) 30%, rgba(30, 30, 40, 0.75) 83%);
    }
  }

  .cover-bg {
    @include absolute-100;
    background-color: #fff;
  }

  .content-container {
    position: relative;
    display: inline-block;
    width: 80%;
    @include scale-prop(max-width, 1000);
    cursor: default;

    .subtitle {
      @include scale-prop(font-size, 30);
      color: rgba(143, 143, 143, 1);
    }

    .title {
      @include scale-prop(font-size, 90);
      @include scale-prop(margin-top, 100);
      @include scale-prop(margin-bottom, 40);
      color: $orange;
      text-transform: capitalize;
    }

    .description {
      width: 90%;
      @include scale-prop(font-size, 20);
      color: rgba(143, 143, 143, 1);
      margin: auto;
      @include scale-prop(max-width, 500);
    }

    .cta-container {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      @include scale-prop(margin-top, 80);
      @include scale-prop(width, 258);

      .cta {
        display: flex;
        width: 100%;
        @include scale-prop(height, 50);

        &.explore {
          @include scale-prop(margin-top, 10);
          border: 2px solid rgba(255, 255, 255, 0.2);

          .button-text {
            @include scale-prop(padding-left, 20);
          }
        }
      }

      &.resume {
        @include scale-prop(width, 265);

        .cta {
          &.explore {
            .button-text {
              @include scale-prop(padding-left, 25);
            }
          }
        }
      }
    }
  }

  .loader-container {
    display: inline-block;
    position: absolute;
    left: 50%;
    @include scale-prop(bottom, 90);
    text-align: center;
    transform: translateX(-50%);
    transform-style: initial;

    svg {
      @include scale-prop(width, 40);
      @include scale-prop(height, 40);
      margin-left: auto;
      fill: $orange;
      //animation: spin 2.5s infinite;
    }

    p {
      @include scale-prop(font-size, 12);
      @include scale-prop(margin-top, -5);
      color: rgba(143, 143, 143, 1);
    }
  }

  @keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

}
