.mobile-article {
  width: 100%;
  min-height: 100%;
  padding-top: calc(8.945vh);
  background-color: white;

  h1 {
    font-size: 7.333vw;
    font-weight: bold;
  }

  main {
    padding: 5.334vw 6.667vw;
  }

  section {
    margin-top: 6.667vw;
  }

  p {
    margin: 5.667vw 0;
  }
}