.mobile-article {
  width: 100%;
  min-height: 100%;
  background-color: white;

  .top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(8.945vh);
    background-color: rgba(255,255,255,0.9);
    z-index: 10;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      height: 2.75vh;
      width: 100%;
      background-color: rgba(255,255,255,0.3);
    }
  }

  .content-wrapper {
    width: 100vw;
    height: 100%;
    padding-top: calc(8.945vh);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  h1 {
    font-size: 7.333vw;
    font-weight: bold;
  }

  main {
    padding: 6.667vw 5.334vw ;
  }

  section {
    margin-top: 6.667vw;
  }

  p {
    margin: 5.667vw 0;
    word-wrap: break-word;
  }

  img {
    position: relative;
    width: 100%;
    transform: translateZ(0);
  }
}