@import "grid-tile/grid-tile";

$grid-red: #9c291d;
$grid-grey: #515d62;
$grid-sand: #a07434;
$grid-light-blue: #4f91b1;
$grid-dark-blue: #131f2f;

$grid-item-offset: 20px;
$half-size: calc(50% - #{$grid-item-offset/2});
$half-size-less-10: calc(50% - #{$grid-item-offset/2});

$one-third-size: calc(100% / 3 - #{$grid-item-offset});
$one-third-size-extra-5: calc(100% / 3 - 15px);
$one-third-size-extra-10: calc(100% / 3 - #{$grid-item-offset/2});

$two-third-size: calc(100% * 2 / 3 - #{$grid-item-offset});
$two-third-size-extra-5: calc(100% * 2 / 3 - 5px);
$two-third-size-extra-10: calc(100% * 2 / 3 - #{$grid-item-offset/2});

$sand-noise: url('#{$ASSET_PATH}/images/noise-sand.png') repeat;
$light-blue-noise: url('#{$ASSET_PATH}/images/noise-light-blue.png') repeat;
$dark-blue-noise: url('#{$ASSET_PATH}/images/noise-dark-blue.png');
$red-noise: url('#{$ASSET_PATH}/images/noise-red.png') repeat;
$grey-noise: url('#{$ASSET_PATH}/images/noise-grey.png') repeat;

.grid {
  width: 100%;
  opacity: 0;
  visibility: hidden;

  &.ready {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
  }

  // ------- sizes
  .width-full {
    width: 100%;
  }
  .height-full {
    height: 100%;
  }
  .full-size {
    width: 100%;
    height: 100%;
  }

  .filler {
    float: left;
  }

  .grid-item {
    float: left;
    margin-top: $grid-item-offset;

    &.first-row {
      margin-top: 0;
    }

    > div {
      display: inline-block;
      float: left;
    }

    .nested-cube-33 {
      width: $half-size;
      height: $one-third-size;
    }
    .nested-cube-33-height-100 {
      width: $one-third-size-extra-5;
      height: 100%;
    }
    .nested-cube-width-33-height-33 {
      width: $one-third-size-extra-10;
      height: $one-third-size-extra-10;
    }
    .nested-cube-33-height-extra-10 {
      width: $half-size;
      height: $one-third-size-extra-10;
    }
    .nested-cube-33-width-extra-10 {
      width: $one-third-size-extra-10;
      height: $half-size;
    }
    .nested-cube-50 {
      width: $half-size;
      height: $half-size;
    }
    .nested-cube-50-height-100 {
      width: $half-size;
      height: 100%;
    }
    .nested-cube-height-33 {
      width: 100%;
      height: $one-third-size-extra-5;
    }
    .nested-cube-height-66 {
      width: 100%;
      height: $two-third-size;
    }
    .nested-cube-width-66 {
      width: $two-third-size;
      height: 100%;
    }
    .nested-cube-width-66-extra-10 {
      width: $two-third-size-extra-10;
      height: 100%;
    }
    .nested-cube-width-100-height-33 {
      width: 100%;
      height: $one-third-size-extra-5;
    }
    .nested-cube-width-100-height-50 {
      width: 100%;
      height: $half-size-less-10;
    }
    .nested-cube-width-100-height-66 {
      width: 100%;
      height: $two-third-size-extra-5;
    }

    .nested-bar-width-33-height-66 {
      width: $one-third-size-extra-10;
      height: $two-third-size-extra-10;
    }
    .nested-bar-width-33-height-100 {
      width: calc(100% / 3);
      height: 100%;
    }
    .nested-bar-width-33-height-100-less-10 {
      width: $one-third-size-extra-10;
      height: 100%;
    }
    .nested-bar-width-33-height-100-less-5 {
      width: $one-third-size-extra-10;
      height: 100%;
    }
    .nested-bar-width-50-height-66 {
      width: $half-size;
      height: $two-third-size;
    }
    .nested-bar-width-66-height-100 {
      width: $two-third-size-extra-10;
      height: 100%;
    }
    .nested-bar-width-66-height-100-extra-5 {
      width: $two-third-size-extra-5;
      height: 100%;
    }
    .nested-bar-width-100-height-33 {
      width: 100%;
      height: calc(100% / 3);
    }
    .nested-bar-width-100-height-33-less-10 {
      width: 100%;
      height: $one-third-size-extra-5;
    }
    .nested-bar-width-100-height-50 {
      width: 100%;
      height: $half-size;
    }
    .nested-bar-width-100-height-66 {
      width: 100%;
      height: $two-third-size-extra-5;
    }
  }

  // ------- offsets
  .top-padding {
    padding-top: $grid-item-offset;
  }
  .right-padding {
    padding-right: $grid-item-offset;
  }
  .bottom-padding {
    padding-bottom: $grid-item-offset;
  }
  .left-padding {
    padding-left: $grid-item-offset;
  }
  .top-margin {
    margin-top: $grid-item-offset;
  }
  .right-margin {
    margin-right: $grid-item-offset;
  }
  .bottom-margin {
    margin-bottom: $grid-item-offset;
  }
  .left-margin {
    margin-left: $grid-item-offset;
  }

  // ------- colors
  .red {
    &.filler, .noise {
      background: $red-noise;
    }
    .overlay {
      background: $grid-red;
    }
  }
  .grey {
    &.filler, .noise {
      background: $grey-noise;
    }
    .overlay {
      background: $grid-grey;
    }
  }
  .sand {
    &.filler, .noise {
      background: $sand-noise
    }
    .overlay {
      background: $grid-sand;
    }
  }
  .light-blue {
    &.filler, .noise {
      background: $light-blue-noise
    }
    .overlay {
      background: $grid-light-blue;
    }
  }
  .dark-blue {
    &.filler, .noise {
      background: $dark-blue-noise;
    }
    .overlay {
      background: $grid-dark-blue;
    }
  }

}
