@import 'common/styles/globals';
@import 'common/components/video-player/video-player';
@import 'common/components/parallax-video-wrapper/parallax-video-wrapper';
@import 'common/components/parallax-video/parallax-video';

body {
  background-color: black;
  content: $ASSET_PATH;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#container {
  background-color: green;
}

@import 'common/styles/reset';
@import 'tests/tests';
@import 'common/components/timeline/timeline';
@import 'common/components/video-player/video-player';
@import 'common/components/photo-essay/photo-essay';
@import 'common/components/panorama-gallery/panorama-gallery';
@import 'common/components/panorama/panorama';
@import 'common/components/panorama/panorama-controls/panorama-controls';
@import 'common/components/panorama/panorama-compass/panorama-compass';
@import 'common/components/grid-manager/grid-manager';
