body {
  content: $ASSET_PATH;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#container {
  background-color: #121212;
  height: 100%;
}

.full-height {
  height: 100%;
}

@import 'common/styles/globals';
@import 'tests/tests';
@import 'common/components/parallax-video-wrapper/parallax-video-wrapper';
@import 'common/components/parallax-video/parallax-video';
@import 'common/components/footer/footer';
@import 'common/components/rectangular-button/rectangular-button';
@import 'common/components/pill-button/pill-button';
@import 'common/components/article/article';
@import 'common/components/learn-more-modal/learn-more-modal';
@import 'common/components/timeline/timeline';
@import 'common/components/timeline/timeline-hotspot/timeline-hotspot';
@import 'common/components/timeline/timeline-hover-card/timeline-hover-card';
@import 'common/components/video-players/video-player.scss';
@import 'common/components/video-players/narrative/narrative-video-player';
@import 'common/components/video-players/instructional/instructional-video-player';
@import 'common/components/video-players/components/image-card-one/image-card-one';
@import 'common/components/video-players/components/image-card-two/image-card-two';
@import 'common/components/video-players/components/video-card/video-card';
@import 'common/components/photo-essay/photo-essay';
@import 'common/components/fullbrowser-wrapper/fullbrowser-wrapper';
@import 'common/components/panorama/panorama';
@import 'common/components/panorama/panorama-controls/panorama-controls';
@import 'common/components/panorama/panorama-compass/panorama-compass';
@import 'common/components/panorama/panorama-menu/panorama-menu';
@import 'common/components/panorama/panorama-cursor/panorama-cursor';
@import 'common/components/panorama/panorama-loader/panorama-loader';
@import 'common/components/grid/layout/index';
@import 'common/components/grid/layout/layout-890/index';
@import 'common/components/grid/layout/layout-1060/index';
@import 'common/components/grid/layout/layout-1230/index';
@import 'common/components/grid/layout/layout-1400/index';
@import 'common/components/grid/layout/layout-1570/index';
@import 'common/components/grid/layout/layout-1740/index';
@import 'common/components/grid/layout/layout-1920/index';
@import 'common/components/grid/grid-menu/index';
@import 'common/pages/grid-page/grid-page';
@import 'chapter/chapter.scss';
@import 'common/components/podcast/podcast';
@import 'common/components/play-button/play-button';
@import 'common/pages/landing-page/landing-page';

// Mobile
@import 'mobile/mobile';
@import 'mobile/pages/landing/landing';
@import 'mobile/pages/chapters/chapters';
@import 'mobile/pages/chapters/content-list/content-list';
@import 'mobile/pages/videos/videos';
@import 'mobile/pages/article/article';
@import 'mobile/pages/photo-essay/photo-essay';
@import 'mobile/pages/panorama/panorama';
@import 'mobile/pages/learn-more/learn-more';
@import 'common/components/mobile-header/mobile-header';
@import 'common/components/mobile-menu/mobile-menu';
@import 'common/components/rotate-screen/rotate-screen';

