@import 'common/styles/globals';
@import 'common/components/video-player-canvas/video-player-canvas';

body {
  background-color: black;
  content: $ASSET_PATH;
}

#container {
  background-color: green;
}
