.image-card {
  position: absolute;
  width: 350px;
  height: 440px;
  overflow: hidden;
  background-color: #444444;
  cursor: pointer;
  top: calc(50% - 280px);

  a {
    width: 100%;
    height: 100%;
  }

  img {
    opacity: 0.6;
  }

  .bottom-overlay-front, .bottom-overlay-back {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(100,100,100, 0.8);
  }

  .bottom-overlay-front {
    height: 140px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(100,100,100, 0.8);

    .learn-more-button, label {
      margin-bottom: 6px;
    }

    label {
      color: #8C8C8C;
      font-size: 16px;
      font-weight: bold;
    }

    h3 {
      color: white;
      font-weight: 600;
      font-size: 30px;
      margin-bottom: 18px;
    }

    .learn-more-button {
      font-size: 16px;
      color: #8F8F8F;
      width: 28px;
      height: 28px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      font-weight: bold;
      background-color: #2B2B2B;

      svg {
        width: 40%;
        fill: #8F8F8F;
      }
    }
  }

  .bottom-overlay-back {
    height: 160px;
    background-color: rgba(100,100,100, 0.6);
  }
}