$controlsWidth: 560;
$controlsHeight: 70;
$buttonWidth: $controlsHeight*0.8;

$responsiveWidth: $controlsWidth/1400 * 100;

.panorama-controls {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 0;
  //margin-left: -$responsiveWidth/2*1vw;
  //width: $responsiveWidth*1vw;
  @include scale-prop(margin-left, -$controlsWidth/2);
  @include scale-prop(width, $controlsWidth);
  @include scale-prop(height, $controlsHeight);
  z-index: 1000;
  @include gpu;

  &:focus {
    outline: none;
  }

  * {
    @include gpu;
  }

  .bottom-bar-wrapper {
    width: 100%;
    @include scale-prop(height, 40);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
  }

  .bottom-bar {
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 1);
  }

  .button {
    @include flex-center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    @include scale-prop(width, $buttonWidth);
    height: 100%;
    transition: color 0.3s;
    position: absolute;
    @include scale-prop(font-size, 20);

    &.zoom-in {
      right: 0;
    }

    &.zoom-in, &.zoom-out {
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
      &:active {
        color: #393939;
      }
    }
  }

  .zoom-controls-wrapper {
    display: flex;
    position: relative;
    @include scale-calc-deduct(width, '100%', 68);
    height: 101%;
    font-weight: bold;
    @include scale-prop(font-size, 20);

    &.mask {
      overflow: hidden;
    }

    .zoom-controls {
      width: 100%;
      height: 100%;
      background-color: rgba(43, 43, 43, 0.7);
    }

    .zoom-progress {
      position: absolute;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);

      .zoom-line {
        position: absolute;
        right: 0;
        width: 1px;
        @include scale-prop(bottom, -8);
        @include scale-prop(height, 16);
        background-color: rgba(255, 255, 255, 1);
      }
    }

    .slider {
      position: relative;
      @include scale-prop(margin-left, $buttonWidth*1.5);
      @include scale-calc-deduct(width, '100%', $buttonWidth *3);
      height: 100%;

      .slider-indicator {
        position: absolute;
        @include scale-prop(width, 85);
        height: 100%;
        cursor: pointer;

        .circle {
          @include scale-prop(width, 15);
          @include scale-prop(height, 15);
          border-radius: 50%;
          border: 2px solid rgba(255, 255, 255, 0.8);
          transition: border-color 0.3s, transform 0.3s;
        }

        .arrow {
          @include flex-center;
          @include scale-prop(width, 35);
          height: 100%;

          svg {
            @include scale-prop(width, 7);
            @include scale-prop(height, 11);
            fill: rgba(255, 255, 255, 0.5);
            transition: fill 0.3s, transform 0.3s;
          }
        }

        .zoom-value {
          position: absolute;
          @include scale-prop(right, 28);
          @include scale-prop(bottom, -28);
          color: rgba(255, 255, 255, 0.5);
          font-weight: bold;
          @include scale-prop(font-size, 12);
          transition: color 0.3s;
          pointer-events: none;
        }

        @mixin hover {
          .circle {
            border-color: rgba(255, 255, 255, 1);
          }

          .arrow {
            svg {
              fill: rgba(255, 255, 255, 0.8);
            }
          }

          .zoom-value {
            color: rgba(255, 255, 255, 0.8);
          }
        }

        &:hover {
          @include hover;
        }

        &:active {
          @include hover;

          .circle {
            transform: scale(1.1);
          }

          .arrow {
            position: relative;
            &.left {
              svg {
                transform: translateX(8px);
              }
            }
            &.right {
              svg {
                transform: translateX(-8px);
              }
            }
          }
        }

      }
    }
  }

  .full-browser-button-wrapper {
    position: relative;
    @include scale-prop(width, $controlsHeight);
    height: 101%;
    overflow: hidden;
  }

  .full-browser.button {
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.9);

    svg {
      @include scale-prop(width, 30);
      @include scale-prop(height, 25);
      opacity: 0.8;
      transition: opacity 0.3s;
    }

    &:hover {
      svg {
        opacity: 1
      }
    }

    &:active {
      svg {
        opacity: 0.5
      }
    }
  }

  &.full-browser-mode {
    width: 100%;
    left: 0;
    @include scale-prop(bottom, 40);
    margin-left: 0;

    .button {
      @include scale-prop(width, $controlsHeight);
    }

    .zoom-controls-wrapper {
      width: 100%;

      .slider {
        position: relative;
        @include scale-prop(margin-left, $controlsHeight*1.4);
        @include scale-calc-deduct(width, '100%', $controlsHeight *2.8);
      }
    }

    .full-browser-button-wrapper {
      display: none;
    }
  }
}
